body {
  margin: 0;
  font-family:
    'Lora', serif,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
  color: #333; 
  line-height: 1.6;
}

code {
  font-family:
    'Fira Code',
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
  background-color: #eaeaea;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  color: #d63384; 
}
